* {
	outline: 0;
	margin: 0;
	padding: 0;
	font-size: 36px;
}

body {
	background: url(scrooge.gif) no-repeat;
	padding-top: 50px;
	padding-left: 300px;
	min-width: 1000px;
}

label:before {
	content: attr(data-display);
}

label {
	display: block;
}

input, select, button {
	width: 250px;
	border-radius: 15px;
	padding: 15px;
}

button:first-of-type {
	margin: 50px 0 0 400px;
}